{% load static %}
<!doctype html>
<html lang="en">
<body>
<div style="width:35rem;margin-left:auto;margin-right:auto">
    <div style="border:none;border-bottom:solid 1px #d0d0d0;text-align:center">
        <img src="{% static 'images/logo_mini.png' %}"
             style="margin-bottom:1rem;text-align:center;width:5rem;margin-left:auto;margin-right:auto">
    </div>
    <div>
        {% if is_reset_password %}
            <h1>Oops, have you forgotten your password?</h1>
            <p>Don't worry, we'll help you get it back. Follow the link below and set a new password.</p><br>
        {% else %}
            <h1>Welcome to Commerce.</h1>
            <p>To start using, please confirm your email address by clicking on the button below.</p><br>
        {% endif %}

        <div style="text-align:center">
            <a href="{{ confirmation_url }}"
               style="background:#3273dc;color:#fff;text-decoration:none;margin-top:10rem;padding:0.8rem 3rem;border-radius:0.5rem;display:inline"
               target="_blank">
                {% if is_reset_password %}
                    Reset your password
                {% else %}
                    Confirm
                {% endif %}
            </a>
            <br><br>
            If the button does not work, follow this link <a href="{{ confirmation_url }}"
                                                             target="_blank">{{ confirmation_url }}</a>
        </div>
    </div>

    <div style="margin-top:3rem; color:#636363;text-align:center">
        Made by <a href="http://localhost:8000/api/v1">Commerce</a> team.<br>
        All rights reserved
    </div>
</div>
</body>
</html>
